@CHARSET "EUC-KR";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css)
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css)
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css)
*{
	font-family: 'Nanum Gothic';
}
body{
  background-image: url("https://post-phinf.pstatic.net/MjAxNzAzMjdfMTY0/MDAxNDkwNTc2ODExNDQy.53oCxWZ0zWW3JvBWmOhkQQguVYe9lrH2MNnzd2hLWtQg.-ntAGaWH-WZ9-aUdQmuyfOezMGHc-qvMbzNpm_fKYqIg.JPEG/LG-CNS_%EB%B3%B4%EC%95%88_1.jpg?type=w1200");
  background-size:cover;
}
form{
	background-color: white;
}
thead th{
	background-color:#006DCC;
	color: white;
	text-align:center;
}

tr td:first-child,
tr th:first-child{
	border-top-left-radius: 6px;
	border-bottom-left-radius:6px;
}
tr td:last-child,
tr th:last-child{
	border-top-left-radius: 6px;
	border-bottom-left-radius:6px;
}
h5{
	font-family: 'Noto Sans KR';
	font-size: 15px;
}
h4{
	font-family: 'Noto Sans KR';
}
h3{
	font-family: 'Hanna';
}
h2{
	font-family: 'Hanna';
}
h1{
	font-family: 'Hanna';
}
.vertical-aligment-helper{
	display: table;
	heigth: 100%;
	width: 100%;
	pointer-events:none;
}
.vertical-align-center{
	display: table-cell;
	vertical-align:middle;
	pointer-events:none;
}
.modal-content{
	width: inherit;
	heright: inherit;
	margin: 0 auto;
	pointer-events:none;
}
